/viikko1/NhlStatistics1/build/
/viikko2/tehtävä9/Verkkokauppa1/build/
/viikko3/tehtävä5/LoginCucumber/build/
/viikko4/tehtävä2/MaksukorttiMockito/.gradle/
/viikko4/tehtävä2/MaksukorttiMockito/build/
/viikko4/tehtävä3/Verkkokauppa/.gradle/
/viikko4/tehtävä3/Verkkokauppa/build/
/viikko4/tehtävä5/IntJoukkoSovellus/.gradle/
/viikko4/tehtävä5/IntJoukkoSovellus/build/
/viikko4/tehtävä6/Tennis/.gradle/
/viikko4/tehtävä6/Tennis/build/
/viikko6/tehtävä2/QueryLanguage/build/
/viikko7/tehtävät_3-4/KiviPaperiSakset/.gradle/
/viikko7/tehtävät_3-4/KiviPaperiSakset/build/